/* div[class^="col"]{
    border: 4px solid black;
    border-left: 20px solid black;
    border-right: 20px solid black;
    min-height: 275px;
} */

body {
  background-color: #FDF0D5 !important;
}

#imga{
    width: 160px !important;
}

#wordsa{
    background-color: transparent !important;
}

#text1{
  padding-bottom: 40px;
  padding-right: 40px;
  text-align: center;
  font-weight: bold;
  
}


/* #imgb {
    display: block;
    padding-left: 70px;
    
  }

  #imgc {
    display: block;
    padding-right: 70px;
  }

  #imgd {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #imge {
    display: block;
    margin-left: auto;
    margin-right: auto;
  } */

  .photoGallery .col-6 {
    padding: 0;
    margin: 0;
  }

  .img-fluid {
    width: 100%!important;
    height: 100%!important;
  }
  .photoGallery1 .col-8 {
    padding: 20px;
    margin-left: 525px;
  }

  .img-fluid1 {
    width: 100%!important;
    height: 100%!important;
  }

  /* button {
    position: relative;
    background-color: rgb(230, 34, 77);
    border-radius: 5px;
    box-shadow: rgb(121, 18, 55) 0px 4px 0px 0px;
    padding: 15px;
    background-repeat: no-repeat;
    cursor: pointer;
    box-sizing: border-box;
    width: 154px;
    height: 49px;
    color: #fff;
    border: none;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    overflow: hidden;
  }
  
  button::before {
    content: "";
    background-color: rgb(248, 50, 93);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
  }
  
  button:hover::before {
    width: 100%;
  } */

  .container-fluid .btn {
    position: absolute;
    margin-top: 355px;
    margin-right: 400px;
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .container .btn:hover {
    background-color: black;
  }
